<nav class="bg-base-100 flex items-center pl-4 h-8 select-none text-base-content" style="-webkit-app-region: drag">
    <!-- Left: Title -->
    <div class=" font-bold mr-6 flex-shrink-0">ova</div>

    <!-- Middle: Menu bar -->
    <nav class="flex space-x-1 flex-1">
        <div class="relative" (click)="toggleMenu('file')">
            <button class="btn btn-ghost btn-sm normal-case menu-button" style="-webkit-app-region: no-drag"
                type="button">
                File
            </button>
            <div *ngIf="openMenu === 'file'"
                class="absolute text-sm left-0 mt-1 w-70 bg-base-100 border border-base-300 rounded shadow-lg z-10 menu-content">

                <a href="#" class="block px-6 py-2 hover:bg-base-300 flex justify-between items-center"
                    (click)="onNewRepositoryClick(); $event.stopPropagation();">
                    New Repository
                    <span class="text-xs text-gray-500 ml-2">Ctrl + N</span>
                </a>

                <a href="#" class="block px-6 py-2 hover:bg-base-300 flex justify-between items-center"
                    (click)="onImportRepositoryClick(); $event.stopPropagation();">
                    Import Repositories
                    <span class="text-xs text-gray-500 ml-2">Ctrl + O</span>
                </a>

                <a href="#" class="block px-6 py-2 hover:bg-base-300">Open Recents</a>
                <a href="#" class="block px-6 py-2 hover:bg-base-300 flex justify-between items-center"
                    (click)="openSettingsModal(); $event.stopPropagation();">
                    Options <span class="text-xs text-gray-500 ml-2">Ctrl + K</span> </a>
                <a href="#" class="block px-6 py-2 hover:bg-base-300">Exit</a>
            </div>


        </div>

        <div class="relative" (click)="toggleMenu('view')">
            <button class="btn btn-ghost btn-sm normal-case menu-button" style="-webkit-app-region: no-drag"
                type="button">
                View
            </button>
            <div *ngIf="openMenu === 'view'"
                class="absolute text-sm left-0 mt-1 w-40 bg-base-100 border border-base-300 rounded shadow-lg z-10 menu-content">
                <a href="#" class="block px-4 py-2 hover:bg-base-300">Zoom In</a>
                <a href="#" class="block px-4 py-2 hover:bg-base-300">Zoom Out</a>
                <a href="#" class="block px-4 py-2 hover:bg-base-300">Full Screen</a>
            </div>
        </div>

        <div class="relative" (click)="toggleMenu('repository')">
            <button class="btn btn-ghost btn-sm normal-case menu-button" style="-webkit-app-region: no-drag"
                type="button">
                Repository
            </button>
            <div *ngIf="openMenu === 'repository'"
                class="absolute text-sm left-0 mt-1 w-40 bg-base-100 border border-base-300 rounded shadow-lg z-10 menu-content">
                <a href="#" class="block px-4 py-2 hover:bg-base-300">Add Video</a>
                <a href="#" class="block px-4 py-2 hover:bg-base-300">Add User</a>
            </div>
        </div>

        <div class="relative" (click)="toggleMenu('help')">
            <button class="btn btn-ghost btn-sm normal-case menu-button" style="-webkit-app-region: no-drag"
                type="button">
                Help
            </button>
            <div *ngIf="openMenu === 'help'"
                class="absolute text-sm left-0 mt-1 w-40 bg-base-100 border border-base-300 rounded shadow-lg z-10 menu-content">
                <a href="#" class="block px-4 py-2 hover:bg-base-300">Documentation</a>
                <a href="#" class="block px-4 py-2 hover:bg-base-300">Keyboard Shortcuts</a>
                <a href="#" class="block px-4 py-2 hover:bg-base-300">Check for Updates</a>
                <!-- About link -->
                <a href="#" class="block px-4 py-2 hover:bg-base-300" (click)="onAboutClick()">About</a>
            </div>
        </div>
    </nav>

    <!-- Right: Window Controls -->
    <div class="window-controls flex " style="-webkit-app-region: no-drag">
        <button (click)="minimize()" title="Minimize" class="btn btn-sm btn-ghost">
            <i class="bx bx-minus text-lg"></i>
        </button>
        <button (click)="maximize()" title="Maximize" class="btn btn-sm btn-ghost">
            <i class="bx bx-fullscreen text-lg"></i>
        </button>
        <button (click)="close()" title="Close" class="btn btn-sm btn-soft btn-error">
            <i class="bx bx-x text-lg"></i>
        </button>
    </div>
</nav>

<!-- App Info Modal -->
<app-app-info-modal [showModal]="showAppInfoModal" (closeAppInfoEvent)="closeAppInfoModal()">
</app-app-info-modal>

<!-- Create Repository Modal -->
<app-create-repository-modal [showModal]="showServerSetupModal"
    (closeSettingsEvent)="closeModal()"></app-create-repository-modal>

<!-- Import Repository Modal -->
<app-import-repository-modal [showModal]="showImportRepositoryModal"
    (closeImportRepositoryEvent)="closeImportRepositoryModal()">
</app-import-repository-modal>

<app-settings-modal [showModal]="showSettingsModal" (closeSettingsEvent)="closeSettingsModal()"></app-settings-modal>