<div class="dock dock-lg sticky bottom-0 flex justify-between bg-base-200">
    <button routerLink="/discover" routerLinkActive="dock-active" class="flex flex-col items-center">
        <i class="bx bx-search bx-sm"></i>
        <span class="dock-label text-xs">Discover</span>
    </button>

    <button routerLink="/library" routerLinkActive="dock-active" class="flex flex-col items-center">
        <i class="bx bx-folder bx-sm"></i>
        <span class="dock-label text-xs">Library</span>
    </button>

    <button routerLink="/saved" routerLinkActive="dock-active" class="flex flex-col items-center">
        <i class="bx bx-bookmark bx-sm"></i>
        <span class="dock-label text-xs">Saved</span>
    </button>

    <button routerLink="/playlist" routerLinkActive="dock-active" class="flex flex-col items-center">
        <i class="bx bx-list-ul bx-sm"></i>
        <span class="dock-label text-xs">Playlists</span>
    </button>
</div>