<div class="w-full flex justify-end p-4">
  <button (click)="saveSettings()" class="btn btn-outline" type="button">
    Save Settings
  </button>
</div>

<section class="px-10">
  <div class="overflow-y-auto h-full flex flex-col gap-6 max-w-lg">
    <div class="form-control w-full flex flex-row items-center gap-4">
      <label for="hostname" class="label w-40">
        <span class="label-text font-semibold text-base">Hostname</span>
      </label>
      <input
        id="hostname"
        type="text"
        name="hostname"
        placeholder="localhost"
        class="input input-bordered input-primary flex-1"
        required
        aria-describedby="hostnameHelp"
        [(ngModel)]="settings.hostname"
      />
    </div>

    <div class="form-control w-full flex flex-row items-center gap-4">
      <label for="port" class="label w-40">
        <span class="label-text font-semibold text-base">Port</span>
      </label>
      <input
        id="port"
        type="number"
        name="port"
        class="input input-bordered input-primary flex-1"
        min="1"
        max="65535"
        required
        aria-describedby="portHelp"
        [(ngModel)]="settings.port"
      />
    </div>

    <div class="form-control w-full flex flex-row items-center gap-4">
      <label for="defaultUser" class="label w-40">
        <span class="label-text font-semibold text-base">Default User</span>
      </label>
      <input
        id="defaultUser"
        type="text"
        name="defaultUser"
        placeholder="admin"
        class="input input-bordered input-primary flex-1"
        required
      />
    </div>

    <div class="form-control w-full flex flex-row items-center gap-4">
      <label for="defaultPassword" class="label w-40">
        <span class="label-text font-semibold text-base">Default Password</span>
      </label>
      <input
        id="defaultPassword"
        type="password"
        name="defaultPassword"
        placeholder="password"
        class="input input-bordered input-primary flex-1"
        required
      />
    </div>

    <div class="form-control w-full flex flex-row items-center gap-4">
      <label for="enableAuth" class="label w-40 mb-0">
        <span class="label-text font-semibold text-base">Enable Auth</span>
      </label>
      <input id="enableAuth" type="checkbox" checked="checked" class="toggle" />
    </div>
  </div>
</section>
