<div class="w-full flex justify-end p-4 bg-base-200">

  <button (click)="serveRepo()" class="btn btn-outline" type="button" [disabled]="isLoading || isRestarting">
    <ng-container *ngIf="isLoading">
      <span class="loading loading-spinner"></span>
      Serving...
    </ng-container>
    <ng-container *ngIf="!isServing && !isLoading">
      Serve
    </ng-container>
    <ng-container *ngIf="isServing && !isLoading">
      Stop
    </ng-container>
  </button>


  <button
    *ngIf="isServerUp && !isLoading && !isRestarting"
    (click)="restartServer()"
    class="btn btn-outline ml-2"
    type="button"
    [disabled]="isLoading || isRestarting"
  >
    <ng-container *ngIf="isRestarting">
      <span class="loading loading-spinner"></span>
      Restarting...
    </ng-container>
    <ng-container *ngIf="!isRestarting">
      Restart Server
    </ng-container>
  </button>

<button *ngIf="isServerUp && !isLoading && !isRestarting" class="btn btn-outline mx-2" type="button" [disabled]="isLoading || isRestarting" (click)="openUI()">
  Open UI
</button>


</div>

<section class="px-10 py-6 container mx-auto">
  <div class="flex items-center">
    <div class="inline-grid *:[grid-area:1/1]">
      <div class="status" [ngClass]="{'status-success animate-ping': isServerUp, 'status-error': !isServerUp}"></div>
      <div class="status" [ngClass]="{'status-success': isServerUp, 'status-error': !isServerUp}"></div>
    </div>
    <div class="ml-5 mr-5">
      Server is {{ isServerUp ? 'up' : 'down' }}
    </div>
  </div>


<!-- Add iframe to show the UI -->
<iframe *ngIf="isServerUp && !isLoading && !isRestarting" [src]="safeUrl" class="w-full h-96 mt-4"></iframe>


  <div class="mt-4">
    <p>
      <strong>Host:</strong>
      <code> localhost</code>
    </p>
    <p>
      <strong>Port:</strong>
      <code> 4200</code>
    </p>
    <p>
      <strong>User:</strong>
      <code> user</code>
    </p>
    <p>
      <strong>Password:</strong>
      <code> pass</code> 
    </p>
  </div>
</section>
