<nav class="navbar bg-base-300 shadow-md text-white px-4">
  <!-- Navbar Start -->
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
             stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </div>
      <ul tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-200 rounded-box w-52">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/explore">Explore</a></li>
          <li><a routerLink="/libraty">Library </a></li>
          <li><a routerLink="/favorites">Favorites</a></li>
          <li><a routerLink="/playlists">Playlists</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl">{{ title }}</a>
  </div>

  <!-- Navbar Center -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/explore">Explore</a></li>
      <li><a routerLink="/libraty">Library </a></li>
      <li><a routerLink="/favorites">Favorites</a></li>
      <li><a routerLink="/playlists">Playlists</a></li>
    </ul>
  </div>

  <!-- Navbar End: Letter Avatar Dropdown -->
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div
          class="w-10 h-10 rounded-full bg-primary text-white font-semibold text-lg flex items-center justify-center">
          <span class="block leading-[2.5rem]">{{ username.charAt(0).toUpperCase() }}</span>
        </div>
      </div>
      
      <ul tabindex="0"
          class="menu menu-sm dropdown-content bg-base-200 text-white rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a>Profile</a></li>
        <li><a>Settings</a></li>
        <li>
          <button (click)="onLogout()" class="text-left w-full">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
