/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
/* Load all default DaisyUI themes */
@plugin "daisyui" {
  themes: all;
  exclude: rootscrollgutter, rootscrolllock;
}

@import "vidstack/player/styles/base.css";
@import "vidstack/player/styles/default/theme.css";
@import "vidstack/player/styles/default/layouts/video.css";

:root:has(
    :is(
        .modal-open,
        .modal:target,
        .modal-toggle:checked + .modal,
        .modal[open]
      )
  ) {
  scrollbar-gutter: unset; /* or auto */
}

media-google-cast-button {
  display: none;
}

media-pip-button {
  display: none;
}
