<!DOCTYPE html>
<html lang="en" data-theme="black" class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home - Your Video Browser</title>

  <!-- Tailwind & DaisyUI v5 Themes -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

</head>
<body class="min-h-screen bg-base-100 text-base-content flex flex-col">

  <!-- Header -->
  <header class="p-4 border-b border-base-content flex justify-between items-center">
    <h2 class="text-2xl font-bold">Remote Video Archive</h1>
    <div class="flex gap-3">
        <a href="{{ url_for('auth.logout_route') }}" class="btn btn-soft btn-error">Logout</a>
    </div>
  </header>

  <!-- Main Content -->
  <main class="flex-grow flex flex-col items-center justify-center text-center px-4">
    <h2 class="text-4xl font-bold mt-6 mb-6">Explore Your Video Collection</h2>
    <p class="text-lg mb-10 max-w-2xl">
      Browse folders, watch videos, and manage your library — all from one place.
    </p>
  
    <div class="button-group mb-8">
      <a href="{{ url_for('explore.explore_page') }}" class="btn btn-outline text-lg mb-4 btn-wide">
        Explore
      </a>
      <a href="{{ url_for('video.video_list') }}" class="btn btn-outline text-lg mb-4 btn-wide">
        Folders
      </a>
      <a href="{{ url_for('collections.collections_page') }}" class="btn btn-outline text-lg mb-4 btn-wide">
        Collections
      </a>
      <a href="{{ url_for('favorites.view_favorites') }}" class="btn btn-outline text-lg mb-4 btn-wide">
        Favorite
      </a>
    </div>
  
    <div class="stats stats-vertical lg:stats-horizontal shadow">
        <div class="stat">
          <div class="stat-title">Total Videos</div>
          <div class="stat-value">{{ totalvideos }}</div>
        </div>
      
        <div class="stat">
          <div class="stat-title">Collections</div>
          <div class="stat-value">{{ collections_count }}</div>
        </div>
      
        <div class="stat">
          <div class="stat-title">Favorites</div>
          <div class="stat-value">{{ favorites }}</div>
        </div>
      </div>
      
  </main>
  

</body>
</html>
