<!DOCTYPE html>
<html lang="en" data-theme="black" class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login</title>

  <!-- Tailwind & DaisyUI v5 Themes -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</head>

<body class="min-h-screen flex items-center justify-center bg-base-100 text-base-content">

  <form method="POST">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
      <legend class="fieldset-legend">Login</legend>
      {% if error %}
        <p class="text-red-500 mb-4 text-center">{{ error }}</p>
      {% endif %}
      <label class="label">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        required
        placeholder="Username"
        pattern="[A-Za-z][A-Za-z0-9\-]*"
        minlength="3"
        maxlength="30"
        title="Only letters, numbers or dash"
        class="w-full input input-bordered"
        autocomplete="username"
      />

      <label class="label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        class="w-full input input-bordered"
        autocomplete="current-password"
      />

      <button type="submit" class="btn btn-neutral mt-4">Login</button>
    </fieldset>
  </form>

</body>
</html>
