<div class="max-w-7xl mx-auto px-4 mt-6 flex justify-center" *ngIf="totalPages > 1 && !loading">
  <div class="join">
    <!-- Iterate over the generated paginationPages array -->
    <ng-container *ngFor="let page of paginationPages">
      <!-- Render a button for actual page numbers -->
      <input *ngIf="page !== '...'" class="join-item btn btn-square btn-sm" type="radio" name="paginationTop"
        [attr.aria-label]="page" [checked]="currentPage === page" (change)="goToPage(page)" />
      <!-- Render a disabled span for ellipses -->
      <span *ngIf="page === '...'" class="join-item btn btn-square btn-sm btn-disabled">
        ...
      </span>
    </ng-container>
  </div>
</div>

<div class="mx-auto px-4 mt-6">
  <p *ngIf="loading" class="font-medium text-center">
    Loading latest videos...
  </p>
  <!-- Display the current video range -->
  <p *ngIf="!loading && videos.length > 0" class="font-medium  mb-6">
    Showing {{ (currentPage - 1) * limit + 1 }} - {{ (currentPage - 1) * limit + videos.length }} of {{ totalVideos }}
    videos
  </p>
  <app-video-grid *ngIf="!loading && videos.length > 0" [videos]="videos"></app-video-grid>
  <p *ngIf="!loading && videos.length === 0" class="font-medium text-center">
    No videos found.
  </p>
</div>

<div class="max-w-7xl mx-auto px-4 mt-10 flex justify-center" *ngIf="totalPages > 1 && !loading">
  <div class="join">
    <!-- Identical pagination for the bottom for consistency -->
    <ng-container *ngFor="let page of paginationPages">
      <input *ngIf="page !== '...'" class="join-item btn btn-square btn-sm" type="radio" name="paginationBottom"
        [attr.aria-label]="page" [checked]="currentPage === page" (change)="goToPage(page)" />
      <span *ngIf="page === '...'" class="join-item btn btn-square btn-sm btn-disabled">
        ...
      </span>
    </ng-container>
  </div>
</div>