<media-player
  #mediaPlayer
  view-type="video"
  stream-type="on-demand"
  log-level="warn"
  crossorigin
  playsinline
  [muted]="isMuted"
  [volume]="volume"
  [title]="'Fake Movie'"
  [poster]="posterUrl"
>
  <media-provider>
    <media-poster class="vds-poster"></media-poster>

    <!-- Video source with explicit type -->
    <source [src]="videoUrl" type="video/mp4" />

    <track
      kind="chapters"
      src="/fake-chapters.vtt"
      label="Fake Chapters"
      language="en-US"
      default
    />
  </media-provider>

    <media-audio-layout></media-audio-layout>
  <media-video-layout [thumbnails]="vttUrl ? vttUrl : null"></media-video-layout>

</media-player>
