<dialog id="server-setup-modal" class="modal" [open]="showModal" (click)="closeModal()">
    <div class="modal-box flex flex-col" (click)="$event.stopPropagation()">
        <!-- Modal Header with Close Button -->
        <div class="w-full dark:border-gray-700 relative">
            <div class="p-4 flex items-center justify-start">
                <h3 class="font-bold text-lg">Repository Setup</h3>
            </div>
            <!-- Close Button -->
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" (click)="closeModal()">✕</button>
        </div>

        <!-- Modal Content Section (Scrollable) -->
        <div class="p-4 space-y-4 overflow-auto" style="flex-grow: 1;">
            <form (ngSubmit)="saveConfig()" (click)="$event.stopPropagation()">
                <!-- Directory for Server -->
                <div class="mb-4">
                    <label for="server-directory" class="label">Directory for Server</label>
                    <div class="flex items-center">
                        <input type="text" id="server-directory" name="server-directory"
                            class="input input-bordered w-full" placeholder="Enter directory for server"
                            [(ngModel)]="config.serverDirectory" readonly required />
                        <button type="button" class="btn btn-secondary ml-4"
                            (click)="selectDirectory()">Browse...</button>
                    </div>
                </div>

                <!-- Admin Username and Password in Column Layout -->
                <div class="mb-4 flex flex-col gap-4">
                    <div>
                        <label for="admin-username" class="label">Admin Username</label>
                        <input type="text" id="admin-username" name="admin-username" class="input input-bordered w-full"
                            placeholder="Enter admin username" [(ngModel)]="config.adminUsername" required />
                    </div>
                    <div>
                        <label for="admin-password" class="label">Admin Password</label>
                        <div class="relative">
                            <input [type]="passwordFieldType" id="admin-password" name="admin-password"
                                class="input input-bordered w-full" placeholder="Enter admin password"
                                [(ngModel)]="config.adminPassword" required />
                            <button type="button" class="absolute right-2 top-1/2 transform -translate-y-1/2"
                                (click)="togglePasswordVisibility()">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                    stroke="currentColor" viewBox="0 0 24 24" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 3C7.03 3 3 7.03 3 12s4.03 9 9 9 9-4.03 9-9-4.03-9-9-9zm0 16c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm2-6c0 .66-.68 1-1.5 1-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5c.82 0 1.5.34 1.5 1s-.68 1-1.5 1z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Error Message Display -->
                <div *ngIf="errorMessage" class="text-red-500 text-sm">
                    {{ errorMessage }}
                </div>

                <!-- Success Message Display -->
                <div *ngIf="successMessage" class="text-green-500 text-sm">
                    {{ successMessage }}
                </div>

                <!-- Save Config Button with loading state -->
                <button type="button" class="btn btn-primary w-full py-3 my-8" [disabled]="isSaving || !isValidConfig()"
                    (click)="onGenerateRepository()">
                    <span *ngIf="!isSaving">Generate Repository</span>
                    <span *ngIf="isSaving" class="loading loading-dots loading-sm"></span>
                </button>
            </form>
        </div>
    </div>
</dialog>

<app-confirm-modal (confirmed)="onConfirmGenerateRepository()"
    (cancelled)="onCancelGenerateRepository()"></app-confirm-modal>