<div class="p-10 h-full bg-cover bg-center relative">


  <div class="flex w-full justify-center relative z-10">
    <div class="stats stats-vertical lg:stats-horizontal shadow bg-base-100">
      <div class="stat">
        <div class="stat-title">My Uploads</div>
        <div class="stat-value">510</div>
        <div class="stat-desc">21% more than last month</div>
      </div>
      <div class="stat">
        <div class="stat-title">Drafts</div>
        <div class="stat-value">10</div>
        <div class="stat-desc">21% more than last month</div>
      </div>
      <div class="stat">
        <div class="stat-title">Installed Spaces</div>
        <div class="stat-value">05</div>
        <div class="stat-desc">21% more than last month</div>
      </div>
      <div class="stat">
        <div class="stat-title">Current Rule</div>
        <div class="stat-value">Server Owner</div>
        <div class="stat-desc">21% more than last month</div>
      </div>
    </div>
  </div>
</div>