<div class="p-10">


  <div class="flex w-full justify-center">

    <div class="stats stats-vertical lg:stats-horizontal shadow">
      <div class="stat">
        <div class="stat-title">My Uploads</div>
        <div class="stat-value">510</div>
        <div class="stat-desc">21% more than last month</div>
      </div>
      <div class="stat">
        <div class="stat-title">Drafts</div>
        <div class="stat-value">10</div>
        <div class="stat-desc">21% more than last month</div>
      </div>
      <div class="stat">
        <div class="stat-title">Installed Spaces</div>
        <div class="stat-value">05</div>
        <div class="stat-desc">21% more than last month</div>
      </div>
      <div class="stat">
        <div class="stat-title">Current Rule</div>
        <div class="stat-value">Server Owner</div>
        <div class="stat-desc">21% more than last month</div>
      </div>
    </div>

  </div>

</div>