<app-top-nav-bar [title]="'Watch'"></app-top-nav-bar>

<main class="flex flex-col items-center justify-start min-h-screen">
  <section *ngIf="loading" class="text-center text-gray-500 py-5 w-full">
    <p>Loading video...</p>
  </section>

  <section *ngIf="error" class="text-center text-red-500 py-10 w-full">
    <p>Failed to load video</p>
  </section>

  <section *ngIf="!loading && !error && video" class="w-full max-w-4xl flex flex-col items-center">
    
  <video 
    class="w-full h-full bg-black"
    [src]="videoUrl" 
    [poster]="thumbnailUrl"
    controls
  ></video>

    <!-- Info below video -->
    <div class="w-full mt-4 px-4 space-y-4">
      <h1 
        class="text-2xl font-semibold truncate overflow-hidden whitespace-nowrap"
        [title]="video.title"
      >
        {{ video.title }}
      </h1>

      <div class="flex flex-wrap gap-3 text-sm text-gray-600">
        <span class="badge badge-outline flex items-center gap-1">⏱ {{ formatDuration(video.durationSeconds) }}</span>
        <span class="badge badge-outline flex items-center gap-1">⭐ {{ video.rating.toFixed(1) }} Rating</span>
        <span class="badge badge-outline flex items-center gap-1">👁 {{ video.views }} Views</span>
        <span class="badge badge-outline flex items-center gap-1">📅 {{ video.uploadedAt | date:'mediumDate' }}</span>
      </div>

      <div *ngIf="video.tags?.length" class="mt-4">
        <h2 class="text-sm font-semibold mb-2">Tags:</h2>
        <div class="flex flex-wrap gap-2">
          <span *ngFor="let tag of video.tags" class="badge badge-primary cursor-default">#{{ tag }}</span>
        </div>
      </div>
    </div>

  </section>
</main>
