<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Setup page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="saveSettings()">
    <ion-item>
      <ion-label position="stacked">Server Host</ion-label>
      <ion-input [(ngModel)]="serverHost" name="serverHost" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Port</ion-label>
      <ion-input [(ngModel)]="serverPort" name="serverPort" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input [(ngModel)]="serverUser" name="serverUser" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="serverPass" name="serverPass" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Save & Continue
    </ion-button>
  </form>
</ion-content>
