::ng-deep .cdk-drag-preview {
  transform: none !important; /* Prevents CDK offset behavior */
  margin: 0 !important;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  opacity: 1 !important;
  pointer-events: none;
  border-radius: 0.75rem;
  width: 100%;
}
