<ul
  id="playlist-draggable-list"
  class="list-none p-0 m-0 bg-base-100 w-full max-w-full sm:max-w-4xl mx-auto "
  cdkDropList
  [cdkDropListData]="playlists"
  [cdkDropListDisabled]="!manageMode"
  (cdkDropListDropped)="drop($event)"
>
  <li
    class="p-4 pb-2 text-xs opacity-60 tracking-wide"
    *ngIf="playlists.length > 0"
  >
    Your saved playlists
  </li>

  <ng-container *ngFor="let playlist of playlists; let i = index">
    <!-- Draggable item -->
    <li
      *ngIf="manageMode; else nonDraggable"
      cdkDrag
      class="flex items-center gap-2 hover:bg-base-200 cursor-pointer px-4 py-2 "
      (click)="onSelect(playlist.title)"
    >


      <div class="flex-shrink-0" (click)="$event.stopPropagation()">
        <input
          type="checkbox"
          class="checkbox checkbox-sm"
          [checked]="isChecked(playlist.slug)"
          (change)="toggleSelection(playlist.slug, $event)"
        />
      </div>

      <div class="flex-1 min-w-0">
        <app-playlist-card
          [playlist]="playlist"
          (select)="onSelect(playlist.title)"
            (playlistDeleted)="handlePlaylistDeleted($event)"
        ></app-playlist-card>
      </div>

      <div class="w-8 text-xl cursor-grab text-right flex-shrink-0" cdkDragHandle>
        ☰
      </div>
    </li>

    <!-- Non-draggable item -->
    <ng-template #nonDraggable>
      <li
        class="flex items-center gap-2 hover:bg-base-200 cursor-pointer px-2 py-2 overflow-visible"
        (click)="onSelect(playlist.title)"
      >
        <div class="text-4xl font-thin opacity-30 tabular-nums w-12 text-center flex-shrink-0">
          {{ (i + 1) | number: '2.0' }}
        </div>

        <div class="flex-1 min-w-0">
          <app-playlist-card
            [playlist]="playlist"
            (select)="onSelect(playlist.title)"
              (playlistDeleted)="handlePlaylistDeleted($event)"
              (click)="$event.stopPropagation()"
          ></app-playlist-card>
        </div>

      </li>
    </ng-template>
  </ng-container>
</ul>
