<div class="navbar sticky top-0 bg-base-100 shadow-sm">
    <div class="flex-none">
        <div class="drawer">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
                <!-- Page content here -->
                <label for="my-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
                    <!-- Boxicon for Hamburger Menu -->
                    <i class="bx bx-menu bx-sm"></i>
                </label>
            </div>
            <div class="drawer-side z-50">
                <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
                    <!-- Sidebar content here -->
                    <li><a>Sidebar Item 2</a></li>
                    <li><a>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">OVA</a>
    </div>

    <!-- Boxicon for Settings Button -->
    <button class="btn btn-ghost btn-circle" (click)="openSettingsModal()">
        <i class="bx bx-cog bx-sm"></i>
    </button>
</div>

<!-- Settings Modal component -->
<app-settings-modal [showModal]="showModal" (close)="closeModal()"></app-settings-modal>