<app-navbar title="Profile "></app-navbar>

<div class="p-4 max-w-2xl mx-auto space-y-4">
  <h1 class="text-2xl font-bold">Your Profile</h1>

  <div class="card bg-base-200 p-4 shadow space-y-4">
    <div>
      <p><strong>Username:</strong> {{ username }}</p>
      <p><strong>Roles:</strong> {{ roles.join(', ') }}</p>
    </div>
  </div>

  <div class="flex justify-end">
    <button class="btn btn-error" (click)="openClearWatchHistoryConfirm()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 mr-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
      Clear Watch History </button>
  </div>
</div>

<div class="p-4 max-w-2xl mx-auto space-y-4">
  <h1 class="text-2xl font-bold">Active Sessions</h1>
  </div>




<div class="p-4 max-w-2xl mx-auto space-y-4">
    <h1 class="text-2xl font-bold">Change Password</h1>
  <form (ngSubmit)="onConfirm()" id="editForm" novalidate>
    <div class="space-y-3">
      <label for="oldPassword">Old Password</label>
      <input
        id="title"
        type="password"
        class="input input-bordered w-full mb-2"
        [(ngModel)]="oldPassword"
        name="oldPassword"
        required
        placeholder="Enter your current password"
      />
      
      <div class="space-y-1">
        <label for="newPassword">New Password</label>
        <input
          id="title" 
          type="password"
          class="input input-bordered w-full"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
          placeholder="Enter your new password"
        />
        
        <label for="rewritePassword">Confirm New Password</label>
        <input
          id="title" 
          type="password"
          class="input input-bordered w-full" 
          [(ngModel)]="rewritePassword" 
          name="rewritePassword"
          required
          placeholder="Type the new password again to confirm"
        />
      </div>
      
      <button 
        type="submit" 
        class="btn btn-primary" 
        disabled="!oldPassword.trim() || !newPassword || !rewritePassword"
        >
          Change Password
        </button>
      </div>
  </form>
</div>


<!-- Add error message divs -->
<div class="p-4 space-y-2">
  <div class=" rounded" *ngIf="!oldPassword.trim()">Please enter your current password.</div>
  <div class=" rounded" multiLine="true" *ngIf="newPassword !== rewritePassword">Passwords do not match. Please try again.</div>
</div>


<app-confirm-modal
  #confirmClearHistoryModal
  (confirmed)="clearWatchHistory()"
></app-confirm-modal>