<media-player #mediaPlayer view-type="video" stream-type="on-demand" crossorigin playsinline [poster]="posterUrl"
  storage="video-player-options">
  <media-provider>
    <media-poster class="vds-poster"></media-poster>
    <source [src]="videoUrl" type="video/mp4" />
    <track kind="chapters" [src]="vttMarkersUrl ? vttMarkersUrl : null" default />
  </media-provider>

  <media-audio-layout></media-audio-layout>
  <media-video-layout [thumbnails]="vttUrl || null"></media-video-layout>
</media-player>