<div class="flex h-screen">
  <!-- Login Form on the Left -->
  <div class="flex-1 flex flex-col items-center justify-center bg-base-300 px-4">



    <div class="w-full max-w-sm flex flex-col justify-center items-center ">



      <form (ngSubmit)="onSubmit()">
        <h1 class="text-2xl font-bold mb-10">Login</h1>

        <fieldset class="fieldset w-xs ">

          <div>
            <label class="label">Your Username</label>
            <label class="input w-full">
              <i class='bx bx-user'></i>
              <input type="text" placeholder="Enter username" [(ngModel)]="username" name="username" required
                autocomplete="username" />
            </label>
          </div>

          <div>
            <label class="label">Password</label>
            <label class="input w-full">
              <i class='bx bx-key'></i>
              <input type="password" placeholder="Password" id="password" [(ngModel)]="password" name="password"
                required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must be more than 8 characters, including number, lowercase letter, uppercase letter"
                autocomplete="current-password" />
            </label>
          </div>

          <div *ngIf="error" class="text-red-500 text-sm font-medium">{{ error }}</div>

          <button type="submit" class="btn btn-lg w-full mt-6">
            Login
          </button>
        </fieldset>

      </form>
    </div>

  </div>

  <!-- Image on the Right -->
  <div class="flex-1 hidden md:block relative">
    <img src="https://i.pinimg.com/originals/f6/c1/0a/f6c10a01b8f7c3285fc660b0b0664e52.jpg" alt="Image"
      class="object-cover w-full h-full opacity-20">

    <!-- First Title (Centered, Two Lines) -->
    <div class="absolute top-1/2 left-0 right-0 text-center transform -translate-y-1/2">
      <h1 class="text-4xl font-bold">
        OVA is <br> a new workflow <br> for video archiving
      </h1>
    </div>

    <!-- Second Title (Bottom) -->
    <div class="absolute bottom-15 left-0 right-0 text-center">
      <h1 class="text-xl">ONLINE VIDEO ARCHIVE</h1>
    </div>
  </div>




</div>