<aside class="hidden md:flex md:flex-col w-64 h-full p-6 bg-base-100 border-r border-base-300">
  <!-- Top: Logo / Title -->
  <div class="text-2xl mb-6 select-none">ARCHIVE</div>

  <!-- Navigation -->
  <div class="flex flex-col gap-2 flex-grow">

    <a routerLink="/discover" routerLinkActive="btn-active"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center">
      <i class="bx bx-search text-xl"></i> Search
    </a>

    <a routerLink="/" routerLinkActive="btn-active" [routerLinkActiveOptions]="{ exact: true }"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center">
      <i class="bx bx-home text-xl"></i> Home
    </a>
    <a routerLink="/latest" routerLinkActive="btn-active" [routerLinkActiveOptions]="{ exact: true }"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center">
      <i class='bx  bx-play-circle  text-xl'></i> Latest
    </a>
    <a routerLink="/library" routerLinkActive="btn-active"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center">
      <i class="bx bx-folder text-xl"></i> Library
    </a>


    <!-- ADDITIONAL NAVIGATION LINKS -->
    <div class="mt-4">
      <p class="text-xs mb-5">
        Private
      </p>
      <div class="flex flex-col gap-1">
        <a routerLink="/saved" routerLinkActive="btn-active"
          class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center">
          <i class="bx bx-bookmark text-xl"></i> Saved
        </a>
        <a routerLink="/history" routerLinkActive="btn-active"
          class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center">
          <i class="bx bx-history text-xl"></i> History
        </a>
        <a routerLink="/playlists" routerLinkActive="btn-active"
          class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center">
          <i class="bx bx-list-ul text-xl"></i> Playlists
        </a>
      </div>
    </div>


  </div>

  <!-- Bottom: Dashboard + Version -->
  <div class="mt-6 border-t border-base-200 pt-4">
    <a routerLink="/dashboard" routerLinkActive="btn-active"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center mb-4">
      <i class="bx bx-grid-alt text-xl"></i> Admin Dashboard
    </a>
    <div class="text-xs text-center opacity-60 select-none">OVA Web UI v1.0.0</div>
  </div>
</aside>