<aside
  class="hidden md:flex md:flex-col w-64 h-full p-6 bg-base-100 border-r border-base-300"
>
  <!-- Top: Logo / Title -->
  <div class="text-2xl mb-20 select-none">ARCHIVE</div>

  <!-- Main Navigation Menu -->
  <div class="flex flex-col gap-4 flex-grow">
    <a
      routerLink="/"
      routerLinkActive="btn-active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center"
    >
      <i class="bx bx-home text-xl"></i>
      Home
    </a>
    <a
      routerLink="/discover"
      routerLinkActive="btn-active"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center"
    >
      <i class="bx bx-search text-xl"></i>
      Discover
    </a>
    <a
      routerLink="/library"
      routerLinkActive="btn-active"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center"
    >
      <i class="bx bx-folder text-xl"></i>
      Library
    </a>
    <a
      routerLink="/saved"
      routerLinkActive="btn-active"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center"
    >
      <i class="bx bx-bookmark text-xl"></i>
      Saved
    </a>
    <a
      routerLink="/history"
      routerLinkActive="btn-active"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center"
    >
      <i class="bx bx-history text-xl"></i>
      History
    </a>
    <a
      routerLink="/playlists"
      routerLinkActive="btn-active"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center"
    >
      <i class="bx bx-list-ul text-xl"></i>
      Playlists
    </a>
  </div>

  <!-- Bottom: UI Version & Dashboard -->
  <div class="mt-4 border-t border-base-100 pt-4">
    <a
      routerLink="/dashboard"
      routerLinkActive="btn-active"
      class="btn btn-ghost btn-sm w-full normal-case justify-start gap-3 flex items-center mb-8"
    >
      <i class="bx bx-grid-alt text-xl"></i>
      Admin Dashboard
    </a>
    <div class="text-xs text-center opacity-60 select-none">
      OVA Web UI v1.0.0
    </div>
  </div>
</aside>
