<header class="h-14 bg-base-100 flex justify-between items-center px-4  gap-6 ">

  <div class="flex items-center justify-start">
    <div class="drawer block lg:hidden">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->
        <label for="my-drawer" class="btn btn-ghost drawer-button">
          <i class='bx bx-menu bx-sm'></i>
        </label>
      </div>
      <div class="drawer-side z-500">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>

        <ul class="menu bg-base-200 min-h-full w-80 p-4">

          <li class="menu-title">Menu</li>
          <li class="pt-2">
            <details open>
              <summary>
                <span>Private</span>
              </summary>
              <ul>

                <li> <a routerLink="/my-uploads" routerLinkActive="menu-active">
                    <i class='bx  bx-check-square bx-xs'></i>
                    <span>My Uploads</span>
                  </a>
                </li>
                <li> <a routerLink="/saved" routerLinkActive="menu-active">
                    <i class="bx bx-bookmark bx-xs"></i>
                    <span>Saved</span>
                  </a>
                </li>
                <li><a routerLink="/history" routerLinkActive="menu-active">
                    <i class="bx bx-history bx-xs"></i>
                    <span>History</span>
                  </a>
                </li>
                <li><a routerLink="/playlists" routerLinkActive="menu-active">
                    <i class="bx bx-list-ul bx-xs"></i>
                    <span>Playlists</span>
                  </a>
                </li>
              </ul>
            </details>
          </li>

          <li class="pt-2">
            <details open>
              <summary>
                <span>Spaces</span>
              </summary>
              <ul>
                <li><a routerLink="/create-space" routerLinkActive="menu-active">
                    <i class="bx bx-plus bx-xs"></i>
                    <span>Create Space</span>
                  </a>
                </li>
                <li> <a routerLink="/create-team-space" routerLinkActive="menu-active">
                    <i class='bx bx-group bx-xs'></i>
                    <span>Create Team Space</span>
                  </a>
                </li>
                <li> <a routerLink="/join-team-space" routerLinkActive="menu-active">
                    <i class='bx  bx-link bx-xs'></i>
                    <span>Join Team Space</span>
                  </a>
                </li>
                <li><a routerLink="/my-spaces" routerLinkActive="menu-active">
                    <i class="bx bx-box bx-xs"></i>
                    <span>My Spaces</span>
                  </a>
                </li>

              </ul>
            </details>
          </li>


        </ul>
      </div>
    </div>

    <div class="font-semibold text-lg flex-shrink-0">
      {{ pageTitle || "Home" }}
    </div>
  </div>

  <div class="flex items-center gap-5 flex-shrink-0">

    <button class="btn btn-ghost btn-circle" title="Settings" (click)="openSettingsModal()" aria-label="Settings">
      <i class="bx bx-cog bx-sm"></i>
    </button>

    <div class="dropdown dropdown-bottom dropdown-end" [ngClass]="{ 'dropdown-open': dropdownOpen }">
      <!-- Wrapper for the entire clickable area -->
      <div tabindex="0" role="button" class="flex items-center space-x-2 cursor-pointer" (click)="toggleDropdown()"
        (blur)="closeDropdown()" aria-label="User menu">
        <!-- Avatar (DaisyUI) -->
        <div class="avatar">
          <div class="w-10 rounded-full">
            <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
          </div>
        </div>

        <!-- Username and Dropdown Icon -->
        <span class="text-sm font-medium">{{ username }}</span>
        <i class="bx bx-chevron-down text-lg"></i>
      </div>

      <!-- Dropdown Menu -->
      <ul class="menu menu-sm dropdown-content bg-base-100 rounded-box shadow-lg z-50 w-52 p-3">
        <li><a routerLink="/profile" class="block py-2 px-3 rounded-md hover:bg-base-200">Profile</a></li>
        <li>
          <button (click)="onLogout()" class="w-full text-left py-2 px-3 rounded-md hover:bg-base-200">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>

<app-settings-modal [showModal]="showSettingsModal" (close)="closeSettingsModal()"></app-settings-modal>