<!-- DaisyUI Toggle Button for Gallery Mode -->
<div class="flex justify-start items-center mb-6 gap-5 ">
  <span class="text-2xl">Gallery</span>

  <div>
    <span class="label">Mini Mode</span>
    <label class="toggle text-base-content">

      <input type="checkbox" [checked]="!isMini" (change)="toggleGalleryMode($event)" />
    </label>
  </div>

  <div>
    <span class="label">Infinit Scroll</span>
    <label class="toggle text-base-content">

      <input type="checkbox" [checked]="!isMini" />
    </label>
  </div>
</div>

<div *ngIf="videos.length === 0" class="text-center">No videos found.</div>

<div *ngIf="isMini === false"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 gap-4 w-full">
  <app-video-card *ngFor="let video of videos" [video]="video" [isSaved]="isSaved(video.videoId)" [username]="username!"
    [isWatched]="isWatched(video.videoId)"></app-video-card>
</div>

<div *ngIf="isMini === true"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-1 w-full">
  <app-mini-video-card *ngFor="let video of videos" [video]="video" [isSaved]="isSaved(video.videoId)"
    [username]="username!" [isWatched]="isWatched(video.videoId)"></app-mini-video-card>
</div>