<app-loading-spinner *ngIf="loading$ | async"></app-loading-spinner>

<!-- Show content for login route only -->
@if(isLoginRoute){
<router-outlet></router-outlet> <!-- Routed content for login page will appear here -->
}
@else {
<div class="flex h-screen">
  <!-- Sidebar on the left, fixed height, full screen (visible only on large screens and up) -->
  <app-desktop-sidebar class="lg:block hidden">
  </app-desktop-sidebar>

  <!-- Main content container (flex column) -->
  <div class="flex-1 flex flex-col">

    <!-- Top Navbar -->
    <app-top-navbar></app-top-navbar>


    <!-- Main content area -->
    <div class="w-full overflow-y-auto flex-1 bg-base-300">
      <router-outlet></router-outlet> <!-- Routed content will appear here -->
    </div>

    <app-mobile-dock class="block sticky z-200"></app-mobile-dock>
  </div>
</div>
}

@if (isNotFoundRoute) {
<router-outlet></router-outlet>
}