<div class="flex flex-col h-full bg-base-100 overflow-hidden transition-all duration-200" [class.w-64]="sidebarOpen"
  [class.w-14]="!sidebarOpen">

  <div class="flex items-center  p-5" [class.justify-between]="sidebarOpen" [class.justify-center]="!sidebarOpen">
    <div class="text-xl" [class.hidden]="!sidebarOpen">OVA</div>
    <a class="btn btn-ghost" title="Toggle Sidebar" (click)="toggleSidebar()">
      <i class="bx bx-dock-left"></i>
    </a>
  </div>


  <div class="flex flex-col gap-2 flex-grow">

    <div class="menu w-full rounded-box">

      <li>
        <a routerLink="/recent" routerLinkActive="menu-active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bx bx-play-circle bx-xs"></i>
          <span [class.hidden]="!sidebarOpen" [class.hidden]="!sidebarOpen">Recent</span>
        </a>
      </li>

      <li>
        <a routerLink="/search" routerLinkActive="menu-active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bx bx-search bx-xs"></i>
          <span [class.hidden]="!sidebarOpen">Search</span>
        </a>
      </li>

      <li>
        <a routerLink="/" routerLinkActive="menu-active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bx bx-home bx-xs"></i>
          <span [class.hidden]="!sidebarOpen">Home</span>
        </a>
      </li>

      <li>
        <a routerLink="/library" routerLinkActive="menu-active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="bx bx-folder bx-xs"></i>
          <span [class.hidden]="!sidebarOpen">Spaces</span>
        </a>
      </li>

      <li> <a routerLink="/upload" routerLinkActive="menu-active">
          <i class='bx  bx-plus-circle bx-xs'></i>
          <span [class.hidden]="!sidebarOpen">Upload</span>
        </a>
      </li>


      <li class="pt-2" [class.hidden]="!sidebarOpen">
        <details open>
          <summary>
            <span [class.hidden]="!sidebarOpen">Private</span>
            <span [class.hidden]="sidebarOpen">P</span>
          </summary>
          <ul>

            <li> <a routerLink="/my-uploads" routerLinkActive="menu-active">
                <i class='bx  bx-check-square bx-xs'></i>
                <span [class.hidden]="!sidebarOpen">My Uploads</span>
              </a>
            </li>
            <li> <a routerLink="/saved" routerLinkActive="menu-active">
                <i class="bx bx-bookmark bx-xs"></i>
                <span [class.hidden]="!sidebarOpen">Saved</span>
              </a>
            </li>
            <li><a routerLink="/history" routerLinkActive="menu-active">
                <i class="bx bx-history bx-xs"></i>
                <span [class.hidden]="!sidebarOpen">History</span>
              </a>
            </li>
            <li><a routerLink="/playlists" routerLinkActive="menu-active">
                <i class="bx bx-list-ul bx-xs"></i>
                <span [class.hidden]="!sidebarOpen">Playlists</span>
              </a>
            </li>
          </ul>
        </details>
      </li>

      <li class="pt-2" [class.hidden]="!sidebarOpen">
        <details open>
          <summary>
            <span [class.hidden]="!sidebarOpen">Spaces</span>
            <span [class.hidden]="sidebarOpen">S</span>
          </summary>
          <ul>
            <li><a routerLink="/create-space" routerLinkActive="menu-active">
                <i class="bx bx-plus bx-xs"></i>
                <span [class.hidden]="!sidebarOpen">Create Space</span>
              </a>
            </li>
            <li> <a routerLink="/create-team-space" routerLinkActive="menu-active">
                <i class='bx bx-group bx-xs'></i>
                <span [class.hidden]="!sidebarOpen">Create Team Space</span>
              </a>
            </li>
            <li> <a routerLink="/join-team-space" routerLinkActive="menu-active">
                <i class='bx  bx-link bx-xs'></i>
                <span [class.hidden]="!sidebarOpen">Join Team Space</span>
              </a>
            </li>
            <li><a routerLink="/my-spaces" routerLinkActive="menu-active">
                <i class="bx bx-box bx-xs"></i>
                <span [class.hidden]="!sidebarOpen">My Spaces</span>
              </a>
            </li>

          </ul>
        </details>
      </li>

    </div>
  </div>

  <div class="mb-5">
    <a routerLink="/dashboard" routerLinkActive="btn-active" class="btn btn-ghost btn-sm w-full flex items-center  ">
      <i class="bx bx-grid-alt text-xl"></i>
      <span [class.hidden]="!sidebarOpen">Admin Dashboard</span>
    </a>
    <div class="text-xs text-center opacity-60">OVA Web UI v1.0.0</div>
  </div>
</div>