<app-top-nav-bar [title]="'Home'"></app-top-nav-bar>

<div class="flex flex-col items-center justify-center min-h-screen p-6">
    <h1 class="text-4xl font-bold mb-4">Welcome to OVA Video App</h1>
    <p class="mb-6 text-lg text-gray-700">Browse and watch amazing videos!</p>

    <div class="flex flex-col sm:flex-row gap-4 mt-6">
      <a
        routerLink="/libraty"
        class="btn btn-primary px-8 py-3 rounded-md text-lg text-white transition-transform hover:scale-105"
        >Browse</a
      >
      <a
        routerLink="/favorites"
        class="btn btn-secondary px-8 py-3 rounded-md text-lg text-white transition-transform hover:scale-105"
        >Favorites</a
      >
    </div>

  </div>