<app-navbar (optionsClicked)="openSettingsFromMenu()"></app-navbar>

<div class="flex flex-col h-[calc(100vh-2.5rem)] overflow-hidden">
  <!-- Main Content Area with Sidebar and Body -->
  <div class="flex flex-1 overflow-hidden">

    <!-- Sidebar -->
    <app-sidebar
    [recentRepos]="recentRepos"
    [selectedSection]="selectedSection"
    (setSelectedSection)="setSelectedSection($event)"
  ></app-sidebar>

    <!-- Main Content -->
    <main class="flex-1 bg-base-100 overflow-auto" tabindex="0">
      
        <!-- Top buttons -->
      <div class="flex items-center bg-base-300 justify-between"></div>
  
      <!-- Home Section -->
      <app-home-section
        *ngIf="selectedSection === 'home'"
        [newRepoPath]="newRepoPath"
        (runNewRepoEvent)="runNewRepo()"
        (chooseFolderEvent)="chooseFolder()"
      ></app-home-section>

      <!-- Videos Section -->
      <app-videos-section *ngIf="selectedSection === 'videos'"></app-videos-section>

      <!-- Users Section -->
      <app-users-section *ngIf="selectedSection === 'users'"></app-users-section>

      <!-- Settings Section -->
      <app-settings-section
        *ngIf="selectedSection === 'settings'"
        [settings]="settings"
        (saveSettingsEvent)="saveSettings()"
      ></app-settings-section>
    </main>

  </div>
</div>

<!-- Logs section -->
<!-- Logs section with resizable handle -->
<section
  class="fixed bottom-0 left-0 right-0 bg-base-200 "
  [style.height.px]="logPanelHeight"
  *ngIf="showLogs"
  aria-live="polite"
  aria-atomic="true"
  (window:mousemove)="onMouseMove($event)"
  (window:mouseup)="stopResize()"
>
  <!-- Resize handle -->
  <div
    class="w-full h-1 cursor-ns-resize"
    (mousedown)="startResize($event)"
  ></div>

  <!-- Actual logs panel -->
  <app-logs-panel class="panel"></app-logs-panel>
</section>

<!-- Bottom navigation with logs toggle -->
<app-bottom-nav (toggleLogsEvent)="toggleLog()" (settingsClicked)="openSettings()"></app-bottom-nav>

<dialog id="settings_modal" class="modal" [open]="showSettingsModal" style="overflow: hidden;">
  <app-settings-modal (closeSettingsEvent)="closeSettings()"></app-settings-modal>
</dialog>
