<div *ngIf="videoId" class="flex flex-col items-end gap-2 mt-2">
  <div class="flex gap-2">
    <button
      class="btn btn-sm btn-primary rounded-full px-4 gap-2"
      (click)="downloadVideo()"
    >
      <i-lucide [img]="DownloadIcon" class="w-5 h-5"></i-lucide>
      Download
    </button>

    <button
      class="btn btn-sm btn-outline rounded-full px-4"
      (click)="toggleTrimMode()"
    >
      {{ trimMode ? "Cancel Trim" : "Trim Mode" }}
    </button>
  </div>

  <div *ngIf="trimMode" class="flex gap-2 items-center">
    <button class="btn btn-xs btn-accent" (click)="setTrimStart()">
      Set Start
    </button>
    <button class="btn btn-xs btn-accent" (click)="setTrimEnd()">
      Set End
    </button>
    <button class="btn btn-xs btn-success" (click)="downloadTrimmed()">
      Trim Download
    </button>
    <span class="text-xs text-gray-500">
      Start: {{ formatTime(trimStart) }}, End: {{ formatTime(trimEnd) }},
      Duration: {{ formatTime(trimmedDuration) }}
    </span>
  </div>
</div>
