<div
  *ngIf="videoDurationSeconds !== undefined"
  class="flex flex-wrap gap-2 text-sm"
>
  <span
    class="inline-flex items-center gap-1 bg-base-200 rounded-full px-3 py-1 text-xs font-medium"
  >
    <i-lucide [img]="Clock" class="w-6 h-6"></i-lucide>
    <span>{{ formatDuration(videoDurationSeconds) }}</span>
  </span>

  <span
    class="inline-flex items-center gap-1 bg-base-200 rounded-full px-3 py-1 text-xs font-medium"
  >
    <i-lucide [img]="Calendar" class="w-6 h-6"></i-lucide>
    <span>{{ videoUploadedAt | date : "mediumDate" }}</span>
  </span>

  <span
    class="inline-flex items-center gap-1 bg-base-200 rounded-full px-3 py-1 text-xs font-medium"
  >
    <i-lucide [img]="Square" class="w-6 h-6"></i-lucide>
    <span>{{ videoResolution?.width }} x {{ videoResolution?.height }}</span>
  </span>
</div>
