<div class="w-full flex justify-end p-4">
  <button (click)="serveRepo()" class="btn btn-outline" type="button">
     New Video
  </button>
</div>

<section class="px-10">

  <div class="stats stats-vertical lg:stats-horizontal shadow">
    <div class="stat">
      <div class="stat-title">Total Videos</div>
      <div class="stat-value">100</div>
      <div class="stat-desc">all videos on repo</div>
    </div>
  
    <div class="stat">
      <div class="stat-title">Baked Videos</div>
      <div class="stat-value">50</div>
      <div class="stat-desc">Proceed and added video</div>
    </div>
  
    <div class="stat">
      <div class="stat-title">Storage</div>
      <div class="stat-value">50GB</div>
      <div class="stat-desc">Folder Size</div>
    </div>
  </div>
</section>
