<h2 class="text-2xl m-8">Video Data Settings</h2>

<section id="videos">
    <div class="tabs tabs-boxed mx-8 bg-base-100 rounded-lg">
        <a class="tab" [class.tab-active]="activeTab === 'indexedVideo'"
            (click)="setActiveTab('indexedVideo')">Indexed</a>
        <a class="tab" [class.tab-active]="activeTab === 'diskVideo'" (click)="setActiveTab('diskVideo')">Hard Disk</a>
        <a class="tab" [class.tab-active]="activeTab === 'unindexedVideo'"
            (click)="setActiveTab('unindexedVideo')">Unindexed</a>
        <a class="tab" [class.tab-active]="activeTab === 'duplicateVideo'"
            (click)="setActiveTab('duplicateVideo')">Duplicates</a>
    </div>

    <div *ngIf="loading" class="flex justify-center items-center h-[calc(100vh-250px)]">
        <span class="loading loading-spinner loading-lg text-primary"></span>
    </div>

    <div *ngIf="!loading" class="mx-8 mt-10">
        <app-indexed-video-tab *ngIf="activeTab === 'indexedVideo'"
            [repositoryAddress]="repositoryAddress"></app-indexed-video-tab>

        <app-disk-video-tab *ngIf="activeTab === 'diskVideo'"
            [repositoryAddress]="repositoryAddress"></app-disk-video-tab>

        <app-unindexed-video-tab *ngIf="activeTab === 'unindexedVideo'"
            [repositoryAddress]="repositoryAddress"></app-unindexed-video-tab>

        <app-duplicate-video-tab *ngIf="activeTab === 'duplicateVideo'"
            [repositoryAddress]="repositoryAddress"></app-duplicate-video-tab>
    </div>
</section>