<div class="z-300 dock lg:hidden bg-base-300 flex justify-around p-2 fixed bottom-0 w-full">
  <button routerLink="/discover" routerLinkActive="active" class="flex flex-col items-center" mat-ripple
    matRippleColor="rgba(0, 0, 0, 0.6)">
    <i class="bx bx-search text-2xl"></i>
    <span class="dock-label text-xs">Discover</span>
  </button>
  <button routerLink="/library" routerLinkActive="active" class="flex flex-col items-center" mat-ripple
    matRippleColor="rgba(0, 0, 0, 0.6)">
    <i class="bx bx-folder text-2xl"></i>
    <span class="dock-label text-xs">Library</span>
  </button>
  <button routerLink="/saved" routerLinkActive="active" class="flex flex-col items-center" mat-ripple
    matRippleColor="rgba(0, 0, 0, 0.6)">
    <i class="bx bx-bookmark text-2xl"></i>
    <span class="dock-label text-xs">Saved</span>
  </button>
  <button routerLink="/playlists" routerLinkActive="active" class="flex flex-col items-center" mat-ripple
    matRippleColor="rgba(0, 0, 0, 0.6)">
    <i class="bx bx-list-ul text-2xl"></i>
    <span class="dock-label text-xs">Playlists</span>
  </button>

</div>